<div class="container main-content-container">
  <div class="row main-content-row">
    <div class="main-content-col main-col-center">
      <h3 class="text-heading">～コメント一覧～</h3>
      <%= render "admin/conversations/comment_items", comment_items: @comments %>
    </div>
  </div>
</div>