<div class="container main-content-container">
  <div class="row main-content-row">
    <div class="main-content-col main-col-center">
      <h3 class="text-heading">～投稿編集フォーム～</h3>
      <%= render "public/conversations/post_edit_form", post: @post %>
    </div>
  </div>
</div>