<div class="container main-content-container">
  <div class="row main-content-row">
    <div class="main-content-col main-col-side">
      <h3 class="text-heading">～コメントフォーム～</h3>
        <% unless current_user.guest_user? %>
          <%= render "public/conversations/comment_form", comment: @comment, post: @post %>
        <% else %>
          <p>ゲストユーザーはタイムライン機能が制限されています。</p>
        <% end %>
    </div>
    <div class="main-content-col main-col-center">
      <h3 class="text-heading">～投稿詳細～</h3>
      <% if @post != nil %>
        <%= render "public/conversations/post_show", post: @post %>
      <% else %>
        <div class="row">
          <div class="col">
            <p>存在しない投稿です</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="main-content-col main-col-side">
      <h3 class="text-heading">～コメント一覧～</h3>
      <%= render "public/conversations/comment_items", comment_items: @comments %>
    </div>
  </div>
</div>