<div class="container main-content-container">
  <div class="row main-content-row">
    <div class="main-content-col main-col-side">
      <h3 class="text-heading">～投稿フォーム～</h3>
      <%= render "public/conversations/post_form", post: @post %>
    </div>
    <div class="main-content-col main-col-center">
      <h3 class="text-heading">～タイムライン一覧～</h3>
      <% unless current_user.guest_user? %>
        <%= render "public/conversations/post_items", post_items: @posts %>
      <% else %>
        <p>ゲストユーザーはタイムライン機能が制限されています。</p>
      <% end %>
    </div>
    <div class="main-content-col main-col-side main-col-side-transparent">
    </div>
  </div>
</div>