header {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 999;
}

.header-items {
  height: 50px;
  padding: 0 20px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo:hover,.header-item:hover {
  text-decoration: none;
}

/* ハンバーガーアイコン */
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
  cursor: pointer;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
/* ハンバーガーメニュー　アニメーション */
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}

/*ホバーアニメーション*/
/*.menu-trigger:hover span:nth-child(1) {*/
/*  -webkit-transform: translateY(20px);*/
/*  transform: translateY(20px);*/
/*}*/
/*.menu-trigger.active span:nth-child(2) {*/
/*  opacity: 0;*/
/*}*/
/*.menu-trigger.active span:nth-child(3) {*/
/*  -webkit-transform: translateY(-20px) rotate(45deg);*/
/*  transform: translateY(-20px) rotate(45deg);*/
/*  background-color: #fff;*/
/*}*/

/* spメニュー*/
#sp-menu {
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}
#sp-menu li {
  text-align: center;
  margin-bottom: 30px;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}