<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>
<!--<div class="box"></div>-->
<!--<div class="box"></div>-->
<!--<div class="box"></div>-->
<!--<div class="box"></div>-->
<!--<div class="box"></div>-->
<!--<div class="box"></div>-->
<div class="container">
  <div class="row">
    <div class="col-4 offset-4 ">
      <p>サイト紹介</p>
    </div>
  </div>
</div>