<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h3><strong>本サイトを利用する前に<br>
        必ず下記の注意事項をご確認ください
      </strong></h3>
      <h5><strong>・注意事項</strong></h5>
      <p>本サイトは鋭意製作中です。</p>
      <p>予告なくデータが削除されることや仕様の変更が行われることがあります。</p>
    </div>
  </div>
</div>