<div class="container main-content-container">
  <div class="row main-content-row">
    <div class="main-content-col main-col-center">
      <h3><strong>～つなゲームについて～</strong></h3>
      <p>つなゲームはゲーム情報を主としたSNSです。</p>
      <p>ゲームに関連の様々な情報を発信・収集できる場として開発しました。</p>
      <h4><strong>本サイトを利用する前に<br>必ず下記の注意事項をご確認ください</strong></h4>
      <h5><strong>・注意事項</strong></h5>
      <p>本サイトは鋭意製作中です。</p>
      <p>予告なくデータが削除されることや仕様の変更が行われることがあります。</p>
    </div>
  </div>
</div>