<% post_items.each do |post_item| %>
  <div class="post-row user-post-row">
    <div>
      <span class="text-title">下書き内容:</span><br>
      <%= link_to post_draft_path(post_item.id), class: "content-link-black post-text-link" do %>
        <%= safe_join(post_item.body.split("\n").map { |line| h(line) }, tag(:br)) %>
      <% end %>
    </div>
    <div class="draft-edit-delete-container">
      <%= link_to edit_post_draft_path(post_item.id), class: "edit-link" do %>
        <span>編集画面へ </span>
        <i class="fa-solid fa-arrow-right"></i>
      <% end %>
      <%= button_to "削除する", post_path(post_item.id), { method: :delete, "form_class": "delete-btn-form" } %>
    </div>
  </div>
<% end %>