<div class="container main-content-container">
  <div class="row main-content-row">
    <div class="main-content-col main-col-center">
      <h3 class="text-heading">～フォロワー一覧～</h3>
      <%= render "admin/users/user_index", users: @users %>
    </div>
  </div>
</div>