<% unless current_user.guest_user? %>
  <% if post.favorited_by?(current_user) %>
    <%= link_to post_favorite_path(post.id), method: :delete, class: "favorite-link favorite-active" do %>
      <i class="fa-solid fa-heart favorite-icon"></i>
      <span class="favorite-count"><%= post.post_favorites.count %></span>
      <span class="favorite-text">いいね解除</span>
    <% end %>
  <% else %>
    <%= link_to post_favorite_path(post.id), method: :post, class: "favorite-link favorite-inactive" do %>
      <i class="fa-regular fa-heart favorite-icon"></i>
      <span class="favorite-count"><%= post.post_favorites.count %></span>
      <span class="favorite-text">いいねする</span>
    <% end %>
  <% end %>
<% end %>