@use '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

body {
  // グレー
  background-color: #F7F7F7;
  // ベルーベース
  // background-color: #e0e2e7;
}

main {
  padding-top: 30px;
}