/*Google Chrome初回読み込み時のtransition無効化*/
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    animation: none !important;
}