<header>
  <div class="d-flex navbar navbar-light">
    <%= link_to "つなゲ～ム", root_path, class: "navbar-brand" %>
    <ul class="navbar-nav list-group-horizontal">
      <li class="nav-item">
        <%= link_to "最新投稿", posts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</header>